<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CS542Calendar</servlet-name>
		<servlet-class>edu.wpi.cs542.mmay.calendar.servlet.DummyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CS542Calendar</servlet-name>
		<url-pattern>/cs542calendar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowCalendar</servlet-name>
		<servlet-class>edu.wpi.cs542.mmay.calendar.servlet.CalendarShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowCalendar</servlet-name>
		<url-pattern>/showcalendar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddEvent</servlet-name>
		<servlet-class>edu.wpi.cs542.mmay.calendar.servlet.EventAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEvent</servlet-name>
		<url-pattern>/addevent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCalendar</servlet-name>
		<servlet-class>edu.wpi.cs542.mmay.calendar.servlet.CalendarAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCalendar</servlet-name>
		<url-pattern>/addcalendar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
